<div id="container">
  <app-game-screen></app-game-screen>
  <div id="div-panel">
    <app-scoreboard></app-scoreboard>
    <div id="div-typingarea">
      <label>
        <input
          #inputbox
          type="text"
          [(ngModel)]="input"
          (keyup)="onEnter($event, inputbox.value)"
          placeholder="여기에 입력하세요!"
          id="input-typing"
          autofocus
          style="ime-mode: active"/>
      </label>
      <button *ngIf="isPlaying" id="button-starter" (click)="onStop()" routerLink="/main">
        STOP
      </button>
      <button *ngIf="!isPlaying" id="button-starter" (click)="onRestart()">
        RESTART
      </button>
    </div>
  </div>
</div>
