.div-game-screen::after {
  background-color: white;
  content: "";
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-name: fadeout;
}

@keyframes fadeout {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}